@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--bg);
  color: var(--text);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  min-height: 100vh;
}

@media (max-width : 768px){
  .container{
    width: 640px;
  }
}
@media (max-width : 640px){
  .container{
    width: 576px;
  }
}
@media (max-width : 576px){
  .container{
    width: 360px;
  }
}